<script>
    import Nav from "./Nav.html";
    import { onMount } from "svelte";
    const sections = ["Application", "Actions", "Config", "System"];
    let activeSection = sections[0];
    let text = "";


    onMount(() => {
        fetch("config")
            .then(res => res.text())
            .then(res => text = res)
            .catch(console.error)
    });

</script>

<style>
    .column {
        font-style: italic;
    }
</style>

<main class="container px-3">
    <div class="columns">
        <Nav bind:activeSection="{activeSection}" sections="{sections}" />
        <div class="column">
            Theater
        </div>
    </div>
    {activeSection}
</main>