<script>
    import Nav from "./Nav.html";
    import Content from "./Content.html";
    import Toast from "./Toast.html";
    import { onMount } from "svelte";
    const KEY_SECTION = "section";
    const sections = ["Application", "Action", "Configuration", "System", "Monitor"];
    let darkMode = false;
    let activeSection = (() => {
        let s = localStorage.getItem(KEY_SECTION);
        if (s && sections.includes(s)) {
            return s;
        }
    })() || sections[0];

    $: localStorage.setItem(KEY_SECTION, activeSection);


    onMount(() => {
    });

</script>

<style>
    :global(.columns .column) {
        min-width: 0;
        /*fix bug with nowrap*/
    }

    :global(.columns) {
        margin: 0px;
    }
</style>

<main class="container px-3 pt-4">
    <div class="columns">
        <Nav bind:activeSection="{activeSection}" sections="{sections}" />
        <Content activeSection="{activeSection}" />
    </div>
    <label class="checkbox">
        <input type="checkbox" bind:checked="{darkMode}">
        Dark
    </label>
    <Toast />
</main>