<script>
    import Nav from "./Nav.html";
    import Content from "./Content.html";
    import Toast from "./Toast.html";
    import { onMount } from "svelte";

    const KEY_SECTION = "section";
    const KEY_DARK = "dark";
    const KEY_WIDE = "wide";
    const sections = ["Application", "Action", "Configuration", "System", "Monitor"];
    const html = document.body.parentNode;
    let darkMode = Boolean(localStorage.getItem(KEY_DARK));
    let wide = Boolean(localStorage.getItem(KEY_WIDE));
    let activeSection = (() => {
        let s = localStorage.getItem(KEY_SECTION);
        if (s && sections.includes(s)) {
            return s;
        }
    })() || sections[0];
    let openAside = false;

    $: localStorage.setItem(KEY_SECTION, activeSection);
    $: localStorage.setItem(KEY_DARK, darkMode ? 1 : "");
    $: localStorage.setItem(KEY_WIDE, wide ? 1 : "");
    $: html.classList.toggle("dark", darkMode);


    onMount(() => {
    });

</script>

<style>
    :global(.columns .column) {
        min-width: 0;
        /*fix bug with nowrap*/
    }

    :global(.columns) {
        margin: 0px;
    }

    .top.active {
        transform: rotate(45deg) translateY(25%);
    }

    .top {
        transform-origin: center;
    }

    .middle.active {
        transform: translateX(100%);
    }

    .bottom.active {
        transform: rotate(-45deg) translateY(-25%);
    }

    .bottom {
        transform-origin: center;
    }
</style>

<!--back #171421-->
<!--blue #12488b-->
<Toast/>
<div class="mx-auto text-gray-800 dark:text-blue-100" class:max-w-screen-2xl="{!wide}">
    <aside class="h-screen fixed w-64 lg:w-72 z-10 p-3 bg-white dark:bg-gray-900 shadow-lg trans1 sm:ml-0"
        class:-ml-72="{!openAside}">
        <Nav bind:activeSection="{activeSection}" sections="{sections}" />
    </aside>
    <div class="fixed text-gray-800 bg-white rounded-full p-2 shadow-md bottom-0 right-0 z-10 mr-10 mb-10 cursor-pointer sm:hidden"
        on:click="{()=>openAside^=true}">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path class="top trans1" class:active="{openAside}" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" d="M4 6h16" />
            <path class="middle trans1" class:active="{openAside}" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" d="M4 12h16" />
            <path class="bottom trans1" class:active="{openAside}" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" d="M4 18h16" />
        </svg>
    </div>
    <div class="flex flex-col justify-between h-screen">
        <main class="sm:ml-64 lg:ml-72 p-3 trans1">
            <Content activeSection="{activeSection}" />
        </main>
        <footer class="sm:ml-64 lg:ml-72 p-3 trans1 bg-purple-500">
            <label class="checkbox">
                <input type="checkbox" bind:checked="{darkMode}">
                Dark
            </label>
            <label class="checkbox">
                <input type="checkbox" bind:checked="{wide}">
                Wide
            </label>
        </footer>
    </div>
    <div class="bg-overlay fixed w-screen h-screen inset-0 sm:hidden" class:block="{openAside}"
        class:hidden="{!openAside}"></div>
</div>