<script>
    import { onMount } from "svelte";
    import Scripts from "./Scripts.html";
    import Monitor from "./Monitor.html";
    import Config from "./Config.html";

    export let activeSection;
</script>

{#if activeSection}
<h2 class="text-2xl pt-8 pb-4">{activeSection}</h2>
{/if}

{#if activeSection === "Application"}
<Scripts />
{:else if activeSection === "Action"}
<p>Marvel</p>
{:else if activeSection === "Configuration"}
<Config />
{:else if activeSection === "System"}
<p>Processor</p>
{:else if activeSection === "Monitor"}
<Monitor />
{:else}
<p>Unknown section</p>
{/if}