<script>
    import { onMount } from "svelte";
    import Scripts from "./Scripts.html";
    import Monitor from "./Monitor.html";
    import Config from "./Config.html";

    export let activeSection;
</script>

{#if activeSection}
{#if activeSection.id}
<h2 class="text-2xl pt-8 pb-4">{activeSection.name}</h2>
{/if}

{#if activeSection.id === "scripts"}
<Scripts />
{:else if activeSection.id === "cron"}
<p>Cron</p>
{:else if activeSection.id === "config"}
<Config />
{:else if activeSection.id === "system"}
<p>Processor</p>
{:else if activeSection.id === "metrics"}
<Monitor />
{:else}
<p>Unknown section</p>
{/if}
{/if}