<script>
    import { onMount, onDestroy, tick } from "svelte";
    import { afterLoaded } from "../config";
    import { darkMode } from "../utils";

    const DEFAULT_SECONDS = 10;
    const DEFAULT_INTERVAL = 1000;
    const DEFAULT_STEPS = 30;
    const DEFAULT_VALUES = { min: 0, avg: 0, max: 0 };

    const LIGHTER = "rgba(255, 255, 255, 0.1)";
    const LIGHTER2 = "rgba(255, 255, 255, 0.6)";
    const DARKER = "rgba(0, 0, 0, 0.1)";
    const DARKER2 = "rgba(0, 0, 0, 0.6)";

    let metrics = [];
    $: $darkMode, metrics.forEach(m => m.chart && changeChartColor(m.chart));

    function createChart(metric) {
        const colorArray = getColorArray(metric.color || "orange");
        return new Chart(document.querySelector("#metric_" + metric.id), {
            type: "line",
            data: {
                labels: [],
                datasets: metric.seconds <= 0 ? [defaultDataset("Current", colorArray[1])] : [
                    defaultDataset("Average", colorArray[1]),
                    defaultDataset("Minimum", colorArray[2]),
                    defaultDataset("Maximum", colorArray[0]),
                ]
            },
            options: {
                responsive: true,
                plugins: {
                    /*title: {
                        display: true,
                        text: (metric.name || metric.id) + " | " + metric.seconds + " seconds",
                    },*/
                    legend: {
                        labels: {}
                    }
                },
                aspectRatio: 16 / 9,
                scales: {
                    y: {
                        ticks: {
                            callback: formatNumber
                        },
                        grid: {},
                        min: metric.chart && metric.chart.minY,
                        max: metric.chart && metric.chart.maxY,
                    },
                    x: {
                        ticks: {},
                        grid: {}
                    }
                },
                animation: {
                    easing: "linear"
                }
            }
        });
    }

    function defaultDataset(label, color) {
        return {
            label,
            data: [],
            borderColor: color,
            backgroundColor: "transparent",
            pointRadius: 0,
            tension: 0.2,
        };
    }

    function changeChartColor(chart) {
        const color = $darkMode ? LIGHTER2 : DARKER2;
        const options = chart.config.options;
        options.plugins.legend.labels.color =
            //options.plugins.title.color =
            options.scales.y.ticks.color =
            options.scales.y.grid.color =
            options.scales.x.ticks.color =
            options.scales.x.grid.color =
            color;
        options.scales.y.grid.color =
            options.scales.x.grid.color =
            $darkMode ? LIGHTER : DARKER;
        chart.update();
    }

    function getColorArray(color) {
        try {
            document.head.style.backgroundColor = color;
            let rgb = window.getComputedStyle(document.head).backgroundColor;
            rgb = rgb.slice(rgb.indexOf("(") + 1, rgb.indexOf(")"));
            rgb = rgb.split(",").map(s => Number(s.trim()));
            if (rgb.length < 3) { throw new Error(); }
            const hsl = RGBToHSL(rgb[0], rgb[1], rgb[2]);
            return [`hsl(${hsl[0]},${hsl[1]}%,25%)`, `hsl(${hsl[0]},${hsl[1]}%,45%)`, `hsl(${hsl[0]},${hsl[1]}%,80%)`]
        } catch (error) {
            console.error(error);
            return ["darkgray", "gray", "lightgray"];
        }
    }

    // https://www.30secondsofcode.org/js/s/rgb-to-hsl
    function RGBToHSL(r, g, b) {
        r /= 255;
        g /= 255;
        b /= 255;
        const l = Math.max(r, g, b);
        const s = l - Math.min(r, g, b);
        const h = s
            ? l === r
                ? (g - b) / s
                : l === g
                    ? 2 + (b - r) / s
                    : 4 + (r - g) / s
            : 0;
        return [
            60 * h < 0 ? 60 * h + 360 : 60 * h,
            100 * (s ? (l <= 0.5 ? s / (2 * l - s) : s / (2 - (2 * l - s))) : 0),
            (100 * (2 * l - s)) / 2,
        ];
    };

    onMount(() => {
        let socket;
        afterLoaded(config => {
            metrics = (config.metrics || []).filter($ => $ && $.id).map(m => ({
                metric: m,
                current: DEFAULT_VALUES,
                showChart: !("chart" in m) || Boolean(m.chart)
            }));
            tick().then(() => {
                for (const m of metrics) {
                    m.metric.seconds = typeof m.metric.seconds === "number" ? m.metric.seconds : DEFAULT_SECONDS;
                    const timeout = m.metric.interval || DEFAULT_INTERVAL;
                    if (m.showChart) {
                        m.chart = createChart(m.metric);
                        m.chart.config.options.animation.duration = Math.min(1000, timeout);
                        changeChartColor(m.chart);
                    }
                }
            });
            try {
                const loc = window.location;
                const url = loc.protocol.replace("http", "ws") + "//" + loc.host + BASE_PATH + "/panel/socket";
                socket = new WebSocket(url);
                socket.onmessage = event => {
                    const json = JSON.parse(event.data);
                    const metric = metrics[json.index];
                    metric && handleValues(metric, json.values);
                };
            } catch (error) {
                console.error(error);
            }
        });
        return () => socket && socket.close();
    });

    async function handleValues(m, values) {
        const { metric, chart } = m;
        m.current = values;
        metrics = metrics;
        if (!chart) {
            return;
        }
        const labels = chart.data.labels;
        const avgData = chart.data.datasets[0].data;
        const minData = chart.data.datasets.length === 1 ? [] : chart.data.datasets[1].data;
        const maxData = chart.data.datasets.length === 1 ? [] : chart.data.datasets[2].data;

        const time = new Date().toTimeString().slice(0, 8);

        labels.push(time);
        avgData.push(values.avg);
        minData.push(values.min);
        maxData.push(values.max);

        const steps = metric.chart.steps || DEFAULT_STEPS;

        if (avgData.length > steps) {
            labels.shift();
            avgData.shift();
            minData.shift();
            maxData.shift();
        } else if (avgData.length < steps) {
            const diff = steps - minData.length;
            labels.unshift(...new Array(diff).fill(""));
            avgData.unshift(...new Array(diff).fill(null));
            minData.unshift(...new Array(diff).fill(null));
            maxData.unshift(...new Array(diff).fill(null));
        }

        chart.update();
    }

    function formatNumber(num = 0) {
        const prefix = num < 0 ? "-" : "";
        num = Math.abs(num);
        const index = Math.floor(Math.log10(num) / 3) - 1;
        const suffix = index < 0 ? "" : "KMGTPE"[index];
        num /= Math.pow(10, (index + 1) * 3)
        num = Math.round(num * 100) / 100;
        return prefix + num.toLocaleString(window.navigator.language || "en-US") + suffix;
    }
</script>

{#each metrics as m (m.metric.id)}
<div class="max-w-5xl">
    <h3 class="text-lg pt-4 pb-3 text-center">{(m.metric.name || m.metric.id) + " | " + m.metric.seconds +
        " seconds"}
    </h3>
    {#if m.showChart}
    <canvas id="{'metric_'+m.metric.id}"></canvas>
    {/if}
    <div class="justify-center text-lg mt-3 mb-4 flex">
        {#each [
        {name:"Minimum",num:formatNumber(m.current.min)},
        {name:"Maximum",num:formatNumber(m.current.max)},
        {name:"Average",num:formatNumber(m.current.avg)}
        ] as {name, num} }
        <div class="bg-darker dark:bg-lighter py-1 px-2 mx-2 rounded">{name}: {num}</div>
        {/each}
    </div>
</div>
{/each}