<script>
    import { config } from "../config";

    export let sections;
    export let activeSection;
</script>

{#if $config.title}
<h1 class="text-3xl mb-3 font-semibold">{$config.title}</h1>
{/if}
{#if $config.logo}
<img class="max-h-28 mx-auto mb-5" src="{$config.logo}" alt="Logo">
{/if}
<nav>
    <ul>
        {#each sections as s (s)}
        <li class="p-1 py-2 mb-1 rounded-lg cursor-pointer" on:click="{()=>activeSection=s}" class:bg-blue-400="{activeSection===s}"
            class:hover:bg-darker="{activeSection!==s}" class:dark:hover:bg-lighter="{activeSection!==s}">
            {s}
        </li>
        {/each}
    </ul>
</nav>